/* ========================= */
/* LUCAS LEÃO                */
/* ========================= */

:root {
    --font-default: Arial, Helvetica, sans-serif;
    /* :root é onde ficam as variáveis globais do site — valores que você reutiliza em vários lugares */
}

* {
    margin: 0;
    padding: 0;
    /* o * seleciona TODOS os elementos — isso zera as margens e paddings padrão do navegador */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
    /* var(--cor-1) usa a variável que definimos lá no :root */
}

@media (max-width: 768px) {}

.main {
    min-height: auto;
    /* vh = viewport height — 85vh significa 85% da altura da tela visível */
    background-color: #fcfcfc;
}

/*  GERAL */
.text-center {
    text-align: center;
    color: #2b2b2b;
}

.margin-top-40 {
    margin-top: 40px;
}

/* ========================= */
/* RESPONSIVO -> MOVIDO      */
/* ========================= */
/* HEADER  -> MOVIDO         */
/* ========================= */
/* NAVEGAÇÃO  ->  MOVIDO     */
/* ========================= */

/* ESTASTISTICAS */

.estatisticas {
    display: flex; /*Aqui ele simplesmente alinho oq tava dentro da class*/
    gap: 32px; /*espaço*/
    margin-bottom: 32px;
    position: relative;
}
.stat {
    display: flex;
    flex-direction: column; 
    /* empilha o numero e a label verticalmente q ta dentro do stat*/
    gap: 4px;
}
.stat-numero {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
}
.stat-label {
    font-size: 20px;
    color:rgba(0, 0, 0, 0.55);
}
.artigo {
    display: flex;
    /* ativa o flexbox — coloca os filhos lado a lado */
    align-items: center;
    /* centraliza texto e imagem verticalmente */
    gap: 40px;
    /* espaço entre o texto e a imagem */
    padding: 60px 80px;
    /* 60px cima/baixo, 80px nas laterais para respirar */
    
    min-height: 500px;
    /* altura mínima para a seção não ficar achatada */
}

.artigo-texto {
    flex: 1;
    /* ocupa metade do espaç divide igualmente com a imagem */
    color: #6f0000;
}

.artigo-texto h1 {
    font-size: 56px;
    /* título grande e impactante */
    line-height: 1.3;
    /* espaço entre as linhas do título */
    margin-bottom: 16px;
    color: #000000;
}

.artigo-texto p {
    font-size: 15px;
    line-height: 1.7;
    /* line-height = espaço entre as linhas — 1.7 deixa o texto mais legível */
    color: rgba(0, 0, 0, 0.7);
}

.botao-artigo {
    display: inline-block;
    /* inline-block permite definir padding mas fica na mesma linha */
    margin-top: 24px;
    padding: 12px 28px;
    background: #8B0000;
    color: rgba(255, 255, 255, 0.685);
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
    /* transition suaviza a mudança de cor no hover */
}

.botao-artigo:hover {
    background: #ff0000;
    /* cor mais clara ao passar o mouse */
}

.artigo-imagem {
    flex: 1;
    /* ocupa a outra metade do espaço */
    max-width: 650px;
    /* não deixa a imagem ficar maior que 450px */
}

.artigo-imagem img {
    width: 100%;
    /* ocupa toda a largura da div pai */
    border-radius: 12px;
    /* bordas arredondadas na imagem */
    object-fit: cover;
    /* preenche o espaço sem distorcer a imagem */
    border-color: #8B0000;
    border-style: solid;
}
.artigo-imagem img:hover {
    color: #5e0000;
}

/* ========================= */
/* FATECANOS - SLIDER        */
/* ========================= */

.slider-wrapper {
    display: flex;
    justify-content: center;
    background-color:#0D0D0D;
    padding: 30px 0;
    overflow: hidden;
   
    /* esconde qualquer coisa que vaze para fora do wrapper */
  
}
.slider {
  width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: #5e0000;
}


.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    opacity: 0;
}

.slide {
    width: 25%;
    position: relative;
    flex-shrink: 0;
    /* impede o slide de encolher — esse era o problema do corte */
    transition: 0.6s ease-in-out; /* ADICIONE ESTA LINHA: define a suavidade e o tempo */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: 0; /* garante que a imagem começa do zero */
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #000000;
}

#radio1:checked ~ .first { margin-left: 0%; }
#radio2:checked ~ .first { margin-left: -25%; }
#radio3:checked ~ .first { margin-left: -50%; }
#radio4:checked ~ .first { margin-left: -75%; }

.navigation-auto div {
    border: 2px solid #a00000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.radio-btn-teste {
    display: none;     /*Ele basicamente fa*/
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 { background-color: #ff0000; }
#radio2:checked ~ .navigation-auto .auto-btn2 { background-color: #ff0000; }
#radio3:checked ~ .navigation-auto .auto-btn3 { background-color: #ff0000; }
#radio4:checked ~ .navigation-auto .auto-btn4 { background-color: #ff0000; }
/* ========================= */
/* FATECANOS - HERO   */
/* ========================= */

.hero-fatecanos {
    background-color: #fafafa;
    padding: 36px;
}

.artigo-fatecanos h1{
    color: #0D0D0D;
    padding: 10px;
    text-align: center;
}

.artigo-fatecanos {
    max-width: 600px;
    margin: auto;
}

.artigo-fatecanos p{
    color: #ffffff;
    text-align: center;
    background-color: #5e0000;
    border-radius: 26px;
    padding: 16px;
    
}
.lista-fatecanos ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.lista-fatecanos li {
    color: #0D0D0D;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.botao-fatecanos a {
     background-color: #5e0000;
    padding: 12px 25px;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
}
.botao-fatecanos a {
    background: #8B0000;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    text-shadow: #000000;
}
.botao-fatecanos a:hover {
    background: #a00000;
    transition: 0.3s;
}
.botao-fatecanos h1{
    text-align: center;
    font-weight:900;
    font-family: Arial, Helvetica, sans-serif;
}


/* ========================= */
/* SEÇÃO FINAL (CTA)         */
/* ========================= */

.container-principal-fatecanos {
    text-align: center;
}

.botao-fatecanos a{
    background-color: #5e0000;
    padding: 15px 25px;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.botoes-principal-fatecanos a {
    background: #a50000;
    color: white;
    padding: 22px 25px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    text-shadow: #000000;
    text-align: center;
    
}
.botoes-principal-fatecanos {
    display: flex;
    justify-content: center;  /* centraliza horizontalmente */
    align-items: center;
    width: 100%;
}

.botoes-principal-fatecanos a:hover {
    background: #a00000;
    transition: 0.3s;
}
.projetos p{
    padding: 10px;
}

/* ========================= */
/* RESPONSIVO (CELULAR)      */
/* ========================= */

@media (max-width: 768px) {
    .container-servicos article {
        width: 100%;
        margin: 10px 0;
    }
}

/* ========================= */
/* FOOTER                    */
/* ========================= */

footer {
    display: flex;
    gap: 4px;
    text-align: center;
    justify-content:center;
    padding: 30px;
    background-color: #000000;
    color: gray;
}